body {
  background-color:#1a1717;
}
p {
  color:#dfdbdb;
}
.sidebar {
  float: left;
  width: 250px;
  padding: 20px;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-color: #dfdbdb;
  min-height: 93%;
}

.main {
  float: right;
  margin:10px;
  margin-top: 0px;
  width: 73%;
  padding: 20px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: #dfdbdb;
}
.header {
float:right;
width:76.5%;
}
.header p {
  margin-bottom: 3px;
  margin-top: 29px;
}
a:link, a:visited, a:hover, a:active {
  color:#dfdbdb;
  text-decoration: none;
  font-size: 19;
}
